---
import type { Laptop } from '../types'; // Importa el tipo `Laptop`

const { laptop } = Astro.props as { laptop: Laptop };
---

<tr>
  <td><img src={laptop.imageUrl} alt={laptop.name} class="laptop-image" /></td>
  <td>
    <strong>{laptop.name}</strong><br />
    <small>{laptop.details}</small>
  </td>
  <td>{laptop.category}</td>
  <td class="price">{laptop.price}</td>
  <td class={laptop.stock > 0 ? "stock in-stock" : "stock out-of-stock"}>
    {laptop.stock} {laptop.stock > 0 ? "En Stock" : "Sin Stock"}
  </td>
  <td class="actions">
    <button class="edit-button">&#9998;</button>
    <button class="delete-button">&#128465;</button>
  </td>
</tr>


<style>
  .laptop-image {
    width: 100px;
    height: auto;
    object-fit: cover;
  }
  .price {
    color: #007bff;
    font-weight: bold;
  }
  .stock.in-stock {
    color: green;
  }
  .stock.out-of-stock {
    color: red;
  }
  .actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
  }
  .actions .edit-button {
    color: #ffc107;
  }
  .actions .delete-button {
    color: #dc3545;
  }
</style>
